@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
body {
  margin: 0;
  padding: 0;
}
html, body, button, input {
  font-family: 'Rubik', sans-serif !important;
}
